html {
  overflow: auto;
}
  
html::-webkit-scrollbar {
  display: none;
}

.calendar {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
}
  
.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #B5B6BA;
}

.calendar__grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 7 dni + kolumna na godziny */
  border-top: 1px solsid #ccc;
}

.calendar__grid-header {
  display: contents;
}

.calendar__grid-header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: hwb(212 11% 84%);
  color: white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.calendar__grid-body {
  display: contents;
}

.calendar__grid-row {
  display: contents;
}

.calendar__time {
  grid-column: span 1;
  background-color: hwb(212 11% 84%);
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.calendar__grid-cell {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  position: relative;
}

.calendar__event {
  position: absolute;
  background-color: #6c7ae0;
  color: #fff;
  padding: 2px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  z-index: 99;
}
  