.createSimSession {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.createSimSession__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.createSimSession__close {
    width: 26px;
    cursor: pointer;
}

.createSimSession__label {
    padding: 10px;
    background-color: lightgray;
    border: 2px solid black;
    width: 300px;
}

.createSimSession__input {
    padding: 10px;
    border: 2px solid black;
    height: 42px;
    border-top: none;
    width: 300px;
}

.createSimSession__group {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    flex-wrap: wrap;
}

.createSimSession__group--row {
    display: flex;
    flex-direction: column;
}

.createSimSession__group--single {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.createSimSession__button {
    margin-top: 20px;
    width: 300px;
}

@media (min-width: 1024px) {
    .createSimSession {
        width: 100%;
        align-items: start;
        justify-content: start;
    }

    .createSimSession__group--row {
        flex-direction: row;
    }

    .createSimSession__group--single {
        margin-right: 20px;
    }
}