.createInspection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 50px;
}

.createInspection__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.createInspection__close {
    width: 26px;
    cursor: pointer;
}

.createInspection__title {
    margin-bottom: 10px;
}

.createInspection__select {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #8e9199;
    border: 2px solid black;
}

.createInspection__date {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #8e9199;
    border: 2px solid black;
}

.createInspection__save {
    font-size: 1rem;    
    border: none;    
    border-bottom: 1px solid black;
    background: none;
    padding: 10px;
    margin-top: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.createInspection__save:hover {
    transform: scale(1.05);
    background-color: #5a7a59;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .createInspection {
        width: 100%;
    }
}
