.createMalfunction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.createMalfunction__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.createMalfunction__close {
    width: 26px;
    cursor: pointer;
}

.createMalfunction__label {
    padding: 10px;
    background-color: lightgray;
    border: 2px solid black;
    width: 100%;
}

.createMalfunction__input {
    padding: 10px;
    border: 2px solid black;
    height: 42px;
    width: 100%;
    border-top: none;
    margin-bottom: 20px;
}

.createMalfunction__input--large {
    height: 150px;
}

@media (min-width: 1024px) {
    .createMalfunction {
        /* width: 100%; */
        align-items: start;
        justify-content: start;
    }
}