.device__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.device__close {
    width: 26px;
    cursor: pointer;
}

.device {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 50px;
}

.device__tag {
    margin-bottom: 20px;
}
@media (min-width: 1024px) {
    .device {
        width: 100%;
    }
}