.inspection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 50px;
}

.inspection__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;
}

.inspection__close {
    width: 26px;
    cursor: pointer;
}

.inspection__label {
    margin-bottom: 5px;
}

.inspection__subtitle, .inspection__date, .inspection__operator {
    font-size: 24px;
    /* border: 1px solid black; */
    padding: 5px;
    margin-bottom: 20px;
}

.inspection__delete {
    /* width: 100%; */
    border: none;
    border: 2px solid #000;
    padding: 5px;
    outline: none;
    background-color: #B5B6BA;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.inspection__delete:hover {
    transform: scale(1.01);
    background-color: lightgray;
}

@media (min-width: 1024px) {
    .inspection {
        width: 100%;
    }
}