.malfunctions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 50px;
}

.malfunctions__title {
    padding-bottom: 25px;
    width: 100%;
    text-align: center;
}

.malfunctions__group {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.malfunctions__card-header {
    display: flex;
}

.malfunctions__search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    width: 100%;
    max-width: 650px;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 10px;
}

.malfunctions__search-icon {
    width: 18px;
    margin-right: 10px;
}

.malfunctions__search-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    padding: 5px;
    outline: none;
    background-color: #B5B6BA;
}

.malfunctions__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0;
    width: 100%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 10px;
}

.malfunctions__card--green {
    border-bottom: 1px solid green;
    box-shadow: 0px 4px 6px rgba(0, 255, 0, 0.3);
    background: linear-gradient(to bottom, transparent, rgba(0, 255, 0, 0.1));
}

.malfunctions__card--red {
    border-bottom: 1px solid red;
    box-shadow: 0px 4px 6px rgba(255, 0, 0, 0.3);
    background: linear-gradient(to bottom, transparent, rgba(255, 0, 0, 0.1));
}

.malfunctions__card-title {
    font-size: 22px;
}

.malfunctions__card:hover {
    transform: scale(1.01);
    background-color: #b8860b;
    cursor: pointer;
}

.malfunctions__card-header {
    margin-bottom: 10px;
}

.malfunctions__card-content {
    margin-bottom: 10px;
}

@media (min-width: 1024px) {
    .malfunctions {
        /* width: 100%; */
    }

    .malfunctions__group {
        flex-direction: row;
        margin-bottom: 30px;
    }

    .malfunctions__card {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .malfunctions__create {
        width: 140px;
        margin-bottom: 0;
    }

    .malfunctions__title {
        text-align: left;
    }
}