.meter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.meter__title {
    margin-bottom: 35px;
}

.meter__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.meter__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.meter__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.meter__group--ml10 {
    margin-left: 15px;
}

.meter__label {
    padding: 10px;
    background-color: lightgray;
    border: 2px solid black;
}

.meter__input {
    padding: 10px;
    border: 2px solid black;
    height: 42px;
    border-top: none;
}

.meter__table {
    width: 100%;
    border-collapse: collapse;
}

.meter__table-th, .meter__table-td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.meter__table-th {
    background-color: lightgray;
}

.meter__table-delete {
    width: 24px;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .meter {
        margin: 60px;
        /* width: 100%; */
        align-items: start;
        justify-content: start;
    }
}
