.navbar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1C2229;
    position: relative;
    font-size: 14px;
}

.navbar--open {
    height: 60%;
    flex-direction: column;
}

.navbar__logo {
    width: auto;
    height: 40px;
    margin: 20px;
}

.navbar__toggle {
    width: 45px;
    margin: 10px;
    font-size: 24px;
    height: auto;
    color: white;
    border: 0;
    background: none;
    cursor: pointer;
}

.navbar__toggle--open {
    width: 45px;
    margin: 10px;
    font-size: 24px;
    height: auto;
    color: white;
    border: 0;
    background: none;
    cursor: pointer;
    margin-bottom: 80px;
    margin-top: 0;
}

.navbar__list {
    display: none;
}

.navbar__list--open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.navbar__list--open a {
    text-decoration: none;
    color: black;
}

.navbar__item {
    background-color: #B5B6BA;
    padding: 8px;
    margin: 5px;
    width: 200px;
    text-align: center;
    width: 70vw;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.navbar__item:hover {
    background-color: #e2e6ea;
    color: black;
}

.navbar__item--last {
    margin-bottom: 40px;
}

.navbar__profile {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 220px;
    height: 60px;
    background-color: #14171A;
    color: #999999;
    width: 100%;
}

.navbar__profile-img {
    width: 20px;
}

.navbar__profile-logout {
    cursor: pointer;
    opacity: 0.8;
}

.navbar__profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.navbar__profile-info img {
    margin-right: 10px;
}

@media (min-width: 1024px) {
    .navbar {
        width: 220px;
        min-height: 670px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        top: 0;
        left: 0;
    }

    .navbar__toggle {
        display: none;
    }

    .navbar__logo {
        width: 80px;
        height: auto;
    }

    .navbar__item {
        width: 180px;
    }

    .navbar__item--last {
        margin-bottom: 0;
    }

    .navbar__toggle--open {
        display: none;
    }
}