.start__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.start__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* Darmowa licencja z unsplash.com */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), url('./../../public/theme.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 50px);
}

@media (min-width: 1024px) {
    .start__page {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100vh;
    }

    .start__content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}