.test {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 50px;
}

.test__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;
}

.test__close {
    width: 26px;
    cursor: pointer;
}

.test__image {
    margin-bottom: 30px;
}

.test__label {
    margin-bottom: 5px;
}

.test__label-mt30 {
    margin-top: 20px;
}

.test__buttons button {
    margin-right: 5px;
}

.test__subtitle, .test__date, .test__operator {
    font-size: 24px;
    /*padding: 5px;*/
    margin-bottom: 20px;
}

.test__action {
    margin-top: 20px;
    border-bottom: 1px solid black;
    /*padding: 10px;*/
    width: 100%;
}

.test__action-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.test__action-description {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.test__action-delete {
    width: 18px;
    cursor: pointer;
}

.group {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
}

.test__button {
    width: 100%;
    margin-top: 15px;
}

@media (min-width: 1024px) {
    .test {
        width: 100%;
    }

    .test__buttons button {
        margin-right: 10px;
    }

    .test__form {
        width: 600px;
    }
}