.users {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 30px;
}

.users__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 10px;
}

.users__info {
    font-size: 16px;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: 300;
}

.users__search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    width: 100%;
    max-width: 650px;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 10px;
}

.users__search-icon {
    width: 18px;
    margin-right: 10px;
}

.users__search-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    padding: 5px;
    outline: none;
    background-color: #B5B6BA;
}


.users__title {
    padding-bottom: 25px;
}

.users__table {
    width: 100%;
    border-collapse: collapse;
}

.users__table-th, .users__table-td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

.users__table-th {
    background-color: lightgray;
}

.users__table-tr {
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.users__table-tr:hover {
    background-color: lightgray;
    cursor: default;
}

.users__button {
    width: 100%;
    margin-bottom: 1px;
    height: 100%;
    background-color: #B5B6BA;
}

.users__button:hover {
    cursor: pointer;
    background-color: #1C2229;
    color: white;
}

@media (min-width: 1024px) {
    .users {
        margin: 60px;
        /* width: 100%; */
    }

    .users__button {
        width: 49%;
        margin-bottom: 0;
        margin-left: 1px;
    }
}
