.userProfile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.userProfile__close {
    width: 26px;
    cursor: pointer;
}

.userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 50px;
}

.userProfile__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.userProfile__image {
    width: 128px;
    height: auto;
}

.userProfile__input {
    border: none;
    border-bottom: 2px solid #000;
    padding: 5px;
    outline: none;
    background-color: #8e9199;
}

.userProfile__group-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.userProfile__group-roles {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.userProfile__table-title {
    margin-top: 60px;
}

.userProfile__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.userProfile__table-th, .userProfile__table-td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    text-align: left;
}

.userProfile__table-th {
    background-color: lightgray;
}

.userProfile__table-delete {
    width: 24px;
    height: auto;
    cursor: pointer;
}

.userProfile__select {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #8e9199;
    border: 2px solid black;
}

.userProfile__name {
    margin-top: 15px;
}
 
.userProfile__table-tr--green {
    border-bottom: 1px solid green;
    background: linear-gradient(to bottom, transparent, #00ff001a);
}

.userProfile__table-tr--red {
    border-bottom: px solid red;
    background: linear-gradient(to bottom, transparent, #ff00001a);
}


.userProfile__table-tr--yellow {
    border-bottom: px solid yellow;
    background: linear-gradient(to bottom, transparent, rgb(203, 203, 18));
}

.userProfile__table-tr:hover {
    background-color: lightgray;
    cursor: pointer;
}

.userProfile__table-description {
    margin: 7px 0;
    font-style: italic;
}

.mt30 {
    margin-top: 30px;
}

@media (min-width: 1024px) {
    .userProfile {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        margin: 50px;
        /* width: 100%; */
    }
    

    .userProfile__name {
        margin-left: 15px;
        margin-top: 0;
    }

    .userProfile__group {
        flex-direction: row;
    }

    .userProfile__group-inputs {
        margin-left: 25px;
        margin-top: 0;
    }

    .userProfile__select {
        width: 30%;
    }

    .userProfile__button {
        width: 20%;
        margin-top: 10px;
    }
}